/* Base normalize */
body {
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

p,
ul,
button,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

ul {
    list-style: none;
}

img {
    display: block;
}

/* Helpers */
.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.dark {
    background-color: #000;
}

/* Btn`s */
.them-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 200px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 15px;
    top: 10px;
}

.light-them {
    background-color: white;
}

.dark-them {
    background-color: #000;
}

.btn:hover,
.btn:focus {
    cursor: pointer;
}

/* Form */
.search-form {
    display: flex;
    justify-content: center;

    margin: 10px 0;
}

.search-input {
    box-sizing: border-box;
    font-family: inherit;
    border-radius: 200px 0px 0px 200px;
    padding: 0 10px;
    width: 300px;
    height: 30px;
    border: 1px solid rgba(203, 199, 199, 0.7);
    border-right: none;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 0px 200px 200px 0px;
    border: 1px solid rgba(203, 199, 199, 0.7);
    border-left: none;
}

/* Grid */
.gallery {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.img-tumb {
    display: block;

    width: 350px;
    height: 220px;
}

.img-tumb:hover,
.img-tumb:focus {
    cursor: zoom-in;
}

.img {
    height: 100%;
    width: 100%;
    
    object-fit: cover;
}

.info-list {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 10px 0;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.info-title {
    font-weight: 700;
}